@use '../../variables' as var;

$nav-default: white;
$nav-selected: var.$logo-color;

$background-size: 30rem;
$drawer-size: 22rem;

.ldrawer-background {
  position: absolute;
  background: linear-gradient(90deg, rgba(10,10,10,1) var.$slide-distance, rgba(10,10,10,0) 100%);
  height: 100vh;
  width: $background-size;

  backdrop-filter: blur(5px);
  mask: linear-gradient(270deg, transparent, black 60%);
}

.ldrawer-container {
  position: absolute;
  margin: 10rem 0 0 0.8rem;
  height: calc(100vh - 10rem);
  width: $drawer-size;
  overflow:hidden;

  .ldrawer-title {
    padding-left: 0.4rem;
    margin-bottom: 1.6rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;

    .close-drawer-icon {
      fill: var.$slate-300;
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-90deg);
      margin-left: 0.8rem;
      
      &:hover {
        cursor: pointer;
        fill: white;
      }
    }
  }
}

// === Scrollbar ===

.ld-ul::-webkit-scrollbar {
	width: 4px;
}

.ld-ul::-webkit-scrollbar-thumb {
	background-color: rgba(var.$slate-500, 0.4);
  border-radius: 2px;
  visibility: hidden;
}

.ld-ul:hover {
  &::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

// === User List ===

.ld-ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  overflow-y: auto;
  height: fit-content;
  max-height: calc(100vh - 4rem - 10rem - 4rem);
  direction: rtl;
}

.list-end-hidden {
  --bottom-mask-size: 10rem;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
}

.ld-li {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  border-radius: 8px;
  margin: 0 0.5rem;
  direction:ltr;

  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &:hover {
    background: rgba(var.$slate-700, .6);
    cursor: pointer;
  }
}

// === User List End ===

.list-end-icon {
  width: 2.8rem;
  height: 2.8rem;
  top: -60px;
  position: relative;
  fill: white;
  display: flex;
  margin: auto;

  &:hover {
    cursor: pointer;
  }
}