@use '../../variables' as var;

nav {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 55px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: 1px solid #F6F6F6;

  left: 50%;
  top: 1rem;
  transform: translate(-50%, 0);

  display: flex;
  align-items: center;
  padding: 0 .5rem;

  justify-content: space-between;
}

.nav-center {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 6rem;
}

.nav-left {
  display: flex;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: .2rem;
  border-radius: 5px;
  padding: 0 1rem;

  .nav-sel-bar {
    width: 50px;
    height: 5px;
    position: absolute;
    background-color: var.$logo-color;
    bottom: 2px;
    border-radius: 2px;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    cursor: pointer;
    background-color: var.$slate-200;
    border-radius: 10px;
  }
}

.smaller {
  svg {
    width: 22px;
    height: 22px;
  }
}

.nav-earth {
  svg {
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1), -1px 1px 1px 1px rgba(0, 0, 0, 1), -1px -1px 1px 1px rgba(0, 0, 0, 1), 1px -1px 1px 1px rgba(0, 0, 0, 1);
    border-radius: 100%;
    
    path:nth-of-type(1) {
      fill: white !important;
    }

    path:nth-of-type(2) {
      fill: black !important; 
    }
  }

  &:hover {
    background-color: var.$slate-200 !important;

    svg > path:nth-of-type(1) {
      fill: var.$slate-200 !important;
    }
  }
}

.nav-earth-selected {
  svg {
    width: 35px;
    height: 35px;
  }
}

.nav-selected {
  fill: var.$logo-color;
  // border-bottom: solid green 2px; 

  &:hover {
    // background-color: white;
  }
}

.nav-profile {
  padding-left: .1rem;

  &:hover {
    background-color: white;
    cursor: default;
  }
}

.profile-icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  display: flex;

  border: 3px solid var.$slate-100;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    border: none;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-icon {
  color: var.$logo-color;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 0.3rem 1rem;
  margin-right: 0.6rem;
}

// === Search input ===

.nav-search {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-radius: 20px;
  margin: 4px 0;
  background-color: var.$slate-200;

  .search-icon {
    fill: var.$slate-500;
    width: 16px;
    height: 16px;
    margin: 0 0.3rem;
  }

  input {
    border: none;
    font-size: 1rem;
    background-color: var.$slate-200;
    color: var.$slate-800;
    height: 100%;

    &:focus {
      outline: none;
    }
  }
}