@use '../../variables' as var;

$nav-default: white;
$nav-selected: var.$logo-color;

.contacts-background {
  position: absolute;
  background: linear-gradient(90deg, rgba(10,10,10,1) var.$slide-distance, rgba(10,10,10,0) 100%);
  height: 100vh;
  width: 22rem;

  backdrop-filter: blur(5px);
  mask: linear-gradient(270deg, transparent, black 60%);
}

.contacts-container {
  position: absolute;
  margin: 10rem 0 0 0.8rem;
  height: calc(100vh - 10rem);
  width: 22rem;
  // padding: 10rem 0 0 0.8rem;
  overflow:hidden;

  .contacts-title {
    padding-left: 0.4rem;
    margin-bottom: 1.6rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;

    .close-drawer-icon {
      fill: var.$slate-300;
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-90deg);
      margin-left: 0.8rem;
      
      &:hover {
        cursor: pointer;
        fill: white;
      }
    }
  }
}

// === Scrollbar ===

ul::-webkit-scrollbar {
	width: 4px;
}

ul::-webkit-scrollbar-thumb {
	background-color: rgba(var.$slate-500, 0.4);
  border-radius: 2px;
  visibility: hidden;
}

ul:hover {
  &::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

// === User List ===

ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  overflow-y: auto;
  height: fit-content;
  max-height: calc(100vh - 4rem - 10rem - 4rem);
  direction: rtl;

  // --bottom-mask-size: 10rem;
  // -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
  // mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
}

.list-end-hidden {
  --bottom-mask-size: 10rem;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
}

li {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  border-radius: 8px;
  margin: 0 0.5rem;
  direction:ltr;

  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &:hover {
    background: rgba(var.$slate-700, .6);
    cursor: pointer;

    .user-options {
      visibility: visible;
    }
  }

  .user-pic {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var.$slate-500;
    border-radius: 100%;
    margin-right: 0.8rem;
  }

  .user-name {
    font-weight: bold;
    color: var.$slate-100;
  }

  .user-options {
    margin-left: auto;
    visibility: hidden;

    .user-icon:not(:last-child) {
      margin-right: 0.6rem;
    }

    .user-icon {
      width: 20px;
      height: 20px;
      fill: var.$slate-200;

      &:hover {
        fill: white;
      }
    }
  }
}

// === User List End ===

.list-end-icon {
  width: 2.8rem;
  height: 2.8rem;
  top: -60px;
  position: relative;
  fill: white;
  display: flex;
  margin: auto;

  &:hover {
    cursor: pointer;
  }
}