@use '../../variables' as var;

$nav-profile-width: 12rem;
$nav-profile-height: 10rem;

.nav-profile-container {
  position: absolute;
  width: $nav-profile-width;
  background-color: white;
  transform: translate(-2.6rem, 5rem);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-radius: 10px;
}

.nav-profile-item {
  display: flex;
  margin: .4rem .4rem;
  padding: .4rem;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    background-color: var.$slate-200;
  }

  .nav-profile-item-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: .1rem 0 0 0.4rem
  }

  .nav-profile-item-text {
    font-weight: bold;
    margin-left: .6rem;
  }
}

// === Bubble Arrow ===

.nav-profile-container::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: calc($nav-profile-width - 4.15rem);
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}