// === Colors ===
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$logo-color: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;

$error: #E63946;
$rose-300: #FDA4AF;
$background: #F1FAEE;

$green-500: #22C55E;
$green-600: #16A34A;

$sky-800: #075985;

$blue-light: #A8DADC;
$blue-mid: #457B9D;
$blue-dark: #1D3557;

$slate-100: #f1f5f9;
$slate-200: #E2E8F0;
$slate-300: #94A3B8;
$slate-400: #94a3b8;
$slate-500: #64748B;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1E293B;
$slate-900: #0F172A;

$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;

// === Font size ===

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

// === Animations ===

@mixin anim-slidein {
  animation-duration: 0.05s;
  animation-name: slidein;
  animation-timing-function: linear;
}

@mixin anim-fadein {
  animation-duration: 5s;
  animation-name: fadein;
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    left: -22vw;
  }

  to {
    left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// === Globe slide ===

$slide-distance: 40px;

@mixin anim-move($direction, $duration) {
  animation-duration: $duration;
  animation-name: move-#{$direction};
  animation-timing-function: ease-out;
}

@keyframes move-right {
  from {
    left: 0;
  }

  to {
    left: $slide-distance;
  }
}

@keyframes move-left {
  from {
    left: $slide-distance;
  }

  to {
    left: 0;
  }
}